/*////////////////////////
    Table of Contents
    1. Global Styles
 2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}


/*Kleuren*/

:root {
    --color-purple: #5722CD;
    --color-blue: #4845E4; /*header background*/
    --color-pink: #ED4385;
    --color-black-standard-text: #0C0C0C; /*standaard tekst*/
    --color-light-purple-big-floating-words: #F2F0FF;
    --color-light-grey-background-projects: #F3F6F9;
    --color-grey-service-tile: #7A7A7A;
}


/* ------------------------------- 2. Typography ----------------------------------- */

body {
    font-family: 'Roboto', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', Arial, serif;
}

h1, h2 {
    font-size: 2rem;
    padding: 1rem 0;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;

}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 1200px; /*1200px gepakt volgens deze website https://van-ons.nl/blog/visueel-ontwerp/specificaties-van-een-goed-webdesign/*/
    padding: 0 1rem 10rem;
    align-items: center;
    text-align: center; /* tekst centreeren binnen de container*/
}

/* --------------- 3.2 Other --------------------------- */

button {
    background-color: var(--color-pink);
    border-radius: 1.5rem;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 0.3rem 0.5rem 0.3rem rgba(0, 0, 0, .2);
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.header {
    background-color: var(--color-blue);
    background: linear-gradient(129deg, #4B49E8 0%, #4B49E8 26%, #5722CD  100%);
    padding: 1rem 0 0 0;
    color: white;
    position: relative;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.nav-bar > ul {
    display: flex;
    flex-direction: row;
    flex: 0 1 500px;
    justify-content: space-between;
    padding: 0.5rem 0;
    list-style-type: none;
}

.header-content-styling-div {
    padding: 2rem 0 0 0;
    width: 100%;
}
.nav-bar a {
    color: white;
}

.squiggle-stripe {
    background-image: url("assets/squiggle_line_stripe.svg");
    height: 5rem;
    width: 79px;
    margin: 1rem 0 0 0;
    position: absolute;
    display: block;
    bottom: 0;
}

/* --------------- 4.2 Introduction ------------------- */

.introduction{
    background-color: var(--color-light-grey-background-projects) ;
}

/* --------------- 4.3 Projects ------------------- */

.projects {
    background-color: var(--color-light-grey-background-projects) ;
}

.squiggle-line {
    background-image: url("assets/squiggle_line.svg");
    height: 6px;
    width: 57px;
    margin: 1rem 0 0 0;
    display: block;
}

.projects-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem 0;
}
.projects-article-information{
    flex: 0 0 300px;
    text-align: left;
    padding: 2rem;
}

.projects-article-image{
    flex: 0 1 600px;
}

.projects-article-image img{
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

/* ------------------------------- 5. Media Queries -------------------------------- */